body {
	background: #ddd;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align:center;
}

h1 {
	font-size: 5rem;
}

#error h1 {
	font-size: 3rem;
}
h1 {
	letter-spacing: -3px;
}

#content {
	position: relative;
}
#content img {
	position: absolute;
	top: -50px;
	right: 0px;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}